.oddelements {
    background-color: lightpink;
    font-family: verdana, "DejaVu Sans", sans-serif;
}

#second_element {
    color: blue;
    font-size: 36px;

}

.thirdelement {
    font-size: 24px;

}

#fourthelement {
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
    
}